.login-with-google-btn {
background-color: dodgerblue !important;
  border: none;
}
  /* &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  } */
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  


body {
  text-align: center;
  padding-top: 2rem;
}

.signed-in-container {
  display: flex;
  justify-content: center;
}

.profileImage{
  width: 42px;
  height: 42px;
  overflow: hidden;

  border-radius: 50%;
}